In [15]:
import numpy as np
import pandas as pd
import requests
import json
import re
from datetime import datetime as dt
from tqdm import tqdm

In [2]:
api_key = 'api_key=69d03443c6dda74d5729a2be5debd168'
tmdb_api_url = 'https://api.themoviedb.org/3/'

# Genres

In [3]:
get_genres = 'genre/movie/list'
response = requests.get(tmdb_api_url + '?'.join([get_genres, api_key]))
genres = response.json()['genres']

In [4]:
genres_ls = [d['name'] for d in genres]
genres_ls.append('Foreign')
genres_ls = sorted(genres_ls)
n_genres = len(genres_ls)

# Movies and Reviews

In [5]:
tmdb = pd.read_csv('data/tmdb_5000_movies.csv')

tmdb['goodness'] = tmdb['vote_average'] * tmdb['vote_count'] / tmdb['vote_count'].max()
# threshold -> 80th percentile
threshold = np.around(np.percentile(tmdb['goodness'], 80), 2)
# encoding 1 <-> goodness >= threshold
tmdb['goodness_enc'] = 0
tmdb.loc[tmdb['goodness'] >= threshold, 'goodness_enc'] = 1

In [6]:
cols_to_keep = ['id', 'title', 'status', 'release_date', 'budget', 'revenue',
                'original_language', 'runtime', 'popularity', 'goodness_enc']
# keeping only movies that have a positive vote_count
tmdb_clean = tmdb.loc[tmdb['vote_count'] > 0, cols_to_keep].dropna(axis=0).reset_index(drop=True)

In [7]:
reviews = pd.Series(name='reviews')
df_genres = pd.DataFrame(columns=genres_ls)

In [8]:
for i, movie_id in enumerate(tqdm(tmdb_clean['id'])):
    get_reviews = f'movie/{movie_id}/reviews'
    response_reviews = requests.get(tmdb_api_url + '?'.join([get_reviews, api_key]))
    if response_reviews.status_code == 200:
        reviews.loc[i] = [d['content'] for d in response_reviews.json()['results']]
    else:
        reviews.loc[i] = []
    
    df_genres.loc[i] = np.zeros(n_genres, dtype=int)
    movie_genres = re.findall(r'\"name\": \"([A-Za-z\s]+)\"', tmdb['genres'][i])
    df_genres.loc[i, movie_genres] = 1

100%|██████████| 4740/4740 [1:09:08<00:00,  1.14it/s]

In [9]:
display(tmdb_clean)
display(df_genres)
display(reviews)

,id,title,status,release_date,budget,revenue,original_language,runtime,popularity,goodness_enc
0,19995,Avatar,Released,2009-12-10,237000000,2787965087,en,162.0,150.437577,1
1,285,Pirates of the Caribbean: At World's End,Released,2007-05-19,300000000,961000000,en,169.0,139.082615,1
2,206647,Spectre,Released,2015-10-26,245000000,880674609,en,148.0,107.376788,1
3,49026,The Dark Knight Rises,Released,2012-07-16,250000000,1084939099,en,165.0,112.312950,1
4,49529,John Carter,Released,2012-03-07,260000000,284139100,en,132.0,43.926995,1
5,559,Spider-Man 3,Released,2007-05-01,258000000,890871626,en,139.0,115.699814,1
6,38757,Tangled,Released,2010-11-24,260000000,591794936,en,100.0,48.681969,1
7,99861,Avengers: Age of Ultron,Released,2015-04-22,280000000,1405403694,en,141.0,134.279229,1
8,767,Harry Potter and the Half-Blood Prince,Released,2009-07-07,250000000,933959197,en,153.0,98.885637,1
9,209112,Batman v Superman: Dawn of Justice,Released,2016-03-23,250000000,873260194,en,151.0,155.790452,1
10,1452,Superman Returns,Released,2006-06-28,270000000,391081192,en,154.0,57.925623,1
11,10764,Quantum of Solace,Released,2008-10-30,200000000,586090727,en,106.0,107.928811,1
12,58,Pirates of the Caribbean: Dead Man's Chest,Released,2006-06-20,200000000,1065659812,en,151.0,145.847379,1
13,57201,The Lone Ranger,Released,2013-07-03,255000000,89289910,en,149.0,49.046956,1
14,49521,Man of Steel,Released,2013-06-12,225000000,662845518,en,143.0,99.398009,1
15,2454,The Chronicles of Narnia: Prince Caspian,Released,2008-05-15,225000000,419651413,en,150.0,53.978602,1
16,24428,The Avengers,Released,2012-04-25,220000000,1519557910,en,143.0,144.448633,1
17,1865,Pirates of the Caribbean: On Stranger Tides,Released,2011-05-14,380000000,1045713802,en,136.0,135.413856,1
18,41154,Men in Black 3,Released,2012-05-23,225000000,624026776,en,106.0,52.035179,1
19,122917,The Hobbit: The Battle of the Five Armies,Released,2014-12-10,250000000,956019788,en,144.0,120.965743,1
20,1930,The Amazing Spider-Man,Released,2012-06-27,215000000,752215857,en,136.0,89.866276,1
21,20662,Robin Hood,Released,2010-05-12,200000000,310669540,en,140.0,37.668301,1
22,57158,The Hobbit: The Desolation of Smaug,Released,2013-12-11,250000000,958400000,en,161.0,94.370564,1
23,2268,The Golden Compass,Released,2007-12-04,180000000,372234864,en,113.0,42.990906,1
24,254,King Kong,Released,2005-12-14,207000000,550000000,en,187.0,61.226010,1
25,597,Titanic,Released,1997-11-18,200000000,1845034188,en,194.0,100.025899,1
26,271110,Captain America: Civil War,Released,2016-04-27,250000000,1153304495,en,147.0,198.372395,1
27,44833,Battleship,Released,2012-04-11,209000000,303025485,en,131.0,64.928382,1
28,135397,Jurassic World,Released,2015-06-09,150000000,1513528810,en,124.0,418.708552,1
29,37724,Skyfall,Released,2012-10-25,200000000,1108561013,en,143.0,93.004993,1
...,...,...,...,...,...,...,...,...,...,...
4710,44770,The Exploding Girl,Released,2009-04-22,0,0,en,80.0,0.611081,0
4711,40769,Mutual Appreciation,Released,2005-03-01,500000,0,en,109.0,0.123068,0
4712,42151,Down Terrace,Released,2009-09-01,31192,10000,en,89.0,1.330379,0
4713,2292,Clerks,Released,1994-09-13,27000,3151130,en,92.0,19.748658,0
4714,42497,Pink Narcissus,Released,1971-01-01,27000,0,en,64.0,0.027811,0
4715,33693,Funny Ha Ha,Released,2002-09-20,0,76901,en,85.0,0.362633,0
4716,14585,In the Company of Men,Released,1997-01-19,0,0,en,97.0,2.634007,0
4717,185465,Manito,Released,2002-01-15,0,0,en,78.0,0.039264,0
4718,38780,Rampage,Released,2009-08-14,0,0,en,85.0,7.101197,0
4719,14022,Slacker,Released,1990-07-27,0,0,en,97.0,3.320622,0
4720,255266,Dry Spell,Released,2013-02-14,22000,0,en,90.0,0.048948,0
4721,17345,Flywheel,Released,2003-01-01,0,0,en,120.0,1.048524,0
4722,226458,Backmask,Released,2015-01-16,0,0,en,91.0,3.619167,0
4723,24055,The Puffy Chair,Released,2005-01-17,0,0,en,85.0,1.243955,0
4724,44990,Breaking Upwards,Released,2009-03-14,0,0,en,88.0,0.674570,0
4725,86304,All Superheroes Must Die,Released,2011-10-26,0,0,en,78.0,3.545991,0
4726,692,Pink Flamingos,Released,1972-03-12,12000,6000000,en,93.0,4.553644,0
4727,39851,Clean,Released,2004-09-01,0,0,en,111.0,1.464566,0
4728,13898,The Circle,Released,2000-09-08,0,0,fa,90.0,1.193779,0
4729,157185,Tin Can Man,Released,2007-01-01,13,0,en,84.0,0.332679,0
4730,36095,Cure,Released,1997-11-06,20000,99000,ja,111.0,0.212443,0
4731,182291,On The Downlow,Released,2004-04-11,0,0,en,90.0,0.029757,0
4732,124606,Bang,Released,1995-09-09,0,0,en,98.0,0.918116,0
4733,14337,Primer,Released,2004-10-08,7000,424760,en,77.0,23.307949,0
4734,67238,Cavite,Released,2005-03-12,0,0,en,80.0,0.022173,0
4735,9367,El Mariachi,Released,1992-09-04,220000,2040920,es,81.0,14.269792,0
4736,72766,Newlyweds,Released,2011-12-26,9000,0,en,85.0,0.642552,0
4737,231617,"Signed, Sealed, Delivered",Released,2013-10-13,0,0,en,120.0,1.444476,0
4738,126186,Shanghai Calling,Released,2012-05-03,0,0,en,98.0,0.857008,0
4739,25975,My Date with Drew,Released,2005-08-05,0,0,en,90.0,1.929883,0

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
5,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
7,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
9,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
10,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
11,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
12,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
13,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
14,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
15,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
16,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
17,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
18,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
19,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
20,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
21,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
23,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
24,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
26,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
27,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
28,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
29,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4711,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4712,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4713,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4714,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4715,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
4716,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4717,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4718,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4719,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4720,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4721,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4722,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4723,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4724,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0
4725,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4726,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4727,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4728,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4729,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4730,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4731,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4732,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4733,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
4734,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
4735,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4736,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4737,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4738,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0
4739,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

0       [Avatar is an overwhelming, immersive spectacl...
1                                                      []
2       [<a href="http://www.cutprintfilm.com/reviews/...
3       [I felt like this was a tremendous end to Nola...
4       [Totally forgettable and full of stereotypes, ...
5       [After the success of the first two Spider-Man...
6       [Tangled main characters really remember Aladd...
7       [There is a lot going on in this movie but it ...
8       [Hormones over excitement as part six is merel...
9       [Awesome moview. Best Action sequence.\r\n\r\n...
10                                                     []
11      [**It's a shame that they did this to the Bond...
12                                                     []
13      [Wrong Brother.\r\n\r\nThe early signs were no...
14      [Overall this movie is great! It has flaws but...
15                                                     []
16      [With a movie like this you wonder how all of ...
17      [More of the same ... but it is not funny any ...
18      [Personal low point in the series to me. Broli...
19      [As there was not much more to be told from th...
20      [“The Amazing Spider-Man” has no reason to exi...
21      [It wasn't really what I expected. I thought I...
22      [The second part amends the fiasco of the firs...
23                                                     []
24      [They just couldn't leave him on his island co...
25      [Beautiful Romance - Tragedy Unbound.\r\n\r\nI...
26      [Well another super-sized Marvel Comics superh...
27      [It rhymes with ship!\r\n\r\nActually that's a...
28      [I was a huge fan of the original 3 movies, th...
29      [Skyfall was a solid movie in its own right bu...
                              ...
4710                                                   []
4711                                                   []
4712                                                   []
4713    [Over the years, I have really enjoyed Smith's...
4714                                                   []
4715                                                   []
4716                                                   []
4717    [Meh, overkill on the stereotypes, machismo an...
4718                                                   []
4719                                                   []
4720                                                   []
4721                                                   []
4722    [I guess you could say that this movie felt a ...
4723                                                   []
4724                                                   []
4725                                                   []
4726                                                   []
4727                                                   []
4728                                                   []
4729                                                   []
4730                                                   []
4731                                                   []
4732                                                   []
4733                                                   []
4734                                                   []
4735                                                   []
4736                                                   []
4737                                                   []
4738                                                   []
4739                                                   []
Name: reviews, Length: 4740, dtype: object

In [53]:
df = pd.concat([tmdb_clean, df_genres, reviews], axis=1).sort_values('id').reset_index(drop=True)

# turning dtype of release_date to datetime and extracting only the year
df['release_date'] = pd.to_datetime(df['release_date'], infer_datetime_format=True).dt.year
df = df.rename(columns={'release_date': 'release_year'})

# keeping only movies that have been released
df = df[df['status'] == 'Released'].reset_index(drop=True)
details = df.drop(['status', 'reviews', 'Foreign', 'TV Movie'], axis=1)

details.to_csv('data/details.csv', index=False)

ValueError: The column label 'id' is not unique.

In [59]:
reviews = df[['id', 'title', 'reviews']]

reviews.to_csv('data/reviews.csv', index=False)